.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin: 3vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: #1360fc 7px solid;
}

.App-header .title{
  margin: 0 0 2vmin 0;
}

.App-main{
  background-color: #282c34;
  box-shadow: 15px 15px 15px 2px rgba(0, 0, 0, 0.5);
  /* border: #1360fc 2px solid; */
  max-width: 70%;
  min-height: 400px;
  margin: auto;
  margin-top: 50px; 
  margin-bottom: 50px; 
  padding: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.App-button button{
 padding: 10px 30px;
 color: rgb(0, 0, 0);
 background-color: #0056b3 ;
 border-radius: 20px;
 cursor: pointer;
 transition: background-color 0.3s ease;
 border: solid 2px black;
 margin: 0 10px;
}

.App-button button:hover {
  background-color: #58ff4f;
}

.App-button button:disabled {
  background-color: #ccc; /* Color de fondo cuando está deshabilitado */
  color: #666; /* Color del texto cuando está deshabilitado */
  cursor: not-allowed; /* Cursor en forma de no permitido */
}

.App-button button:disabled:hover {
  background-color: #ccc; /* Color de fondo cuando está deshabilitado y se pasa el ratón */
}

.login-icon{
  color: white;
}

.login-icon:hover {
  color: #007BFF; 
}

.icon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.card{
  color: white;
  max-width: 80%;
}
.card-content{
  text-align: justify;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  font-weight: bold;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}
@media (max-width: 600px) {
  .custom-checkbox .checkmark {
    width: 50px;
  }
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.card .radio{
  display: none;
}

.card-pictures{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.card-img {
  cursor: pointer;
  width: 150px;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.3s ease;
}

.card-img:hover {
  transform: scale(1.05);
}

.card-option:nth-child(1) .card-img:hover {
  border-color: blue;
}

.card-option:nth-child(2) .card-img:hover {
  border-color: red;
}

.student-data {
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  margin-bottom: 15px;
}

.student-data p {
  margin: 5px 0;
  font-size: 18px;
  text-align: justify;
}

.student-data p strong {
  font-weight: bold;
}

.form{
 display: flex;
 flex-direction: column;
 width: 60vmin;
}

.form input{
  margin: 5px 0;
  padding: 10px;
  border-radius: 20px;
}
.form select{
  margin: 5px 0;
  padding: 10px;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>') no-repeat right 10px center;
  background-color: white;
  background-size: 10px;
}
.question{
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.question p{
  font-weight: bold;
}
/* Ocultar el radio button nativo */
.custom-radio input[type="radio"] {
  display: none;
}

/* Estilos para el contenedor de las opciones */
.custom-radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
}

/* Estilos para el radio button personalizado */
.radio-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  transition: border-color 0.2s ease-in-out;
}

/* Estilo para el radio button seleccionado */
.custom-radio input[type="radio"]:checked + .radio-button {
  border-color: #007bff;
  background-color: #007bff;
}

/* Estilo para el indicador de selección en el centro del radio button */
.custom-radio input[type="radio"]:checked + .radio-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
}

/* Estilos para el texto de las opciones */
.custom-radio span {
  margin-left: 10px;
}

.custom-confirm-button {
  /* color: white !important; */
  background-color: green !important;
}
.custom-warning-button{
  background-color: rgb(216, 191, 0) !important;
}
.custom-error-button{
  background-color: red !important;
}
/* .custom-cancel-button {
  color: black !important;
  background-color: red !important;
} */
 .timer{
  font-weight: bold;
  color: yellow;
  /* margin-bottom: 20px; */
 }

 .App-admin{
    background-color: none;
    /* border: #1360fc 2px solid; */
    max-width: 70%;
    min-height: 400px;
    margin: auto;
    margin-top: 50px; 
    margin-bottom: 50px; 
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

 .login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 25px 25px 40px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #fff;
}

.login-title {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  text-align: justify;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.logout-button:hover {
  background-color: #ff1a1a;
}

.admin-container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-shadow: 25px 25px 40px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #fff;
}

.admin-title {
  /* margin-bottom: 20px; */
  /* text-align: center; */
  color: #333;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.admin-table th, .admin-table td {
  padding: 12px 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.admin-table .first {
  text-align: left;
}

.admin-table th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.admin-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-table tr:hover {
  background-color: #ddd;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pagination-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.printIcon{
  cursor: pointer;
  color: blue;
}

.viewIcon{
  cursor: pointer;
  color: black;
  margin: 0 10px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta según sea necesario */
  background-color: #f0f2f5; /* Color de fondo */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; /* Color del spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #3498db; /* Color del texto */
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  /* max-height: 700px; */
  width: 100%;
}

.details-table th,
.details-table td {
  padding: 8px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
  /* border: 1px solid #ccc; */
}

@media print {
  .popup-overlay {
    position: static;
    overflow: visible;
  }

  .popup-content {
    max-height: none;
    overflow: visible;
  }

  .table-container {
    overflow: visible;
    max-height: none;
  }

  .admin-table {
    page-break-inside: auto;
  }

  .admin-table tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  .popup-buttons {
    display: none; /* Ocultar botones al imprimir */
  }
}


.instruccion-container {
  width: 100%;
  /* max-width: 700px; */
  /* margin: 50px auto; */
  /* padding: 20px; */
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.instruccion-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.carousel .slide img {
  border-radius: 15px;
  filter: brightness(0.9) contrast(1.1);
}

.carousel .slide img:hover {
  filter: brightness(1.1) contrast(1.2);
  transform: scale(1.05);
  transition: transform 0.3s, filter 0.3s;
}

.carousel .control-dots .dot {
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel .control-dots .dot.selected {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 0 0 15px 15px;
}
