body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background-color: #e0e0e0a8; */
  background-image: url('assets/fondo.jpg');
  background-size: cover; /* Esto ajustará la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
  background-position: center; /* Esto centrará la imagen */
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
